/* This file is for your main application CSS */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ol {
    @apply list-decimal;
    @apply list-inside;
    @apply mb-4;
  }

  html, body { @apply h-full; }
}

/* base ---------------------------------------------------- */

/*
.flex { display: flex; }
.flex-col { flex-direction: column; }
.h-full { height: 100%; }
.w-full { width: 100%; }
.shrink { flex-shrink: 1; }
.grow { flex-grow: 1; }
.items-center { align-items: center; }
.justify-between { justify-content: space-between; }
.justify-center { justify-content: center; }
.justify-end { justify-content: end; }
.hidden { display: none; }
*/

header .container {
  max-width: 78rem;
}

.container {
  margin: 0 auto;
  max-width: 80rem;
  padding: 0 1rem;
}

p {
  margin-bottom: 1rem;
}

.hint {
  color: hsl(215.38, 16.32%, 46.86%);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

h1 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-bottom: 1rem;
}


/* liveview errors ----------------------------------------- */

.phx-error {
}

.phx-loading {
  cursor: wait;
}

/* main layout --------------------------------------------- */

main {
  color: white;
  background-color: hsl(0, 70%, 35%);
}

main .box {
  margin: 1rem;
  max-width: 80rem;
  background-color: white;
  color: black;
  border: 4px solid black;
  padding: 1rem;
}

/* modal --------------------------------------------------- */

.modal-bg {
  height: 100%;
  background-color: rgb(0 0 0 / 0.3);
  z-index: 1000;
  place-content: center;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  padding: 1rem;
}

.modal-bg-local {
  position: absolute !important;
  z-index: initial;
}

.modal {
  color: black;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  padding: 1.5rem;
  border-radius: 0.5rem;
  max-width: min(100vw, 30rem);
  margin: auto auto;
  position: relative;
}

.modal-close {
  color: black;
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  padding: 0.5rem;
  line-height: 1;
  z-index: 1;
}

/* buttons ------------------------------------------------- */

.btn {
  border-radius: 0.375rem;
  outline: none;
  font-weight: 600;
  white-space: nowrap;
}

.btn[disabled] {
  background-color: hsl(0, 0%, 50%) !important;
}

.btn-primary {
  color: white;
  font-size: 1.25rem;
  line-height: 1.75rem;
  background-color: hsl(217, 90%, 60%);
}
.btn-primary:hover {
  background-color: hsl(217, 90%, 65%);
}

.btn-secondary {
  color: black;
  padding: 0.5rem;
  background-color: hsl(48, 90%, 80%);
}
.btn-secondary:hover {
  background-color: hsl(48, 90%, 85%);
}

.btn-transparent {
  padding: 0.5rem;
}
.btn-transparent:hover {
  background-color: hsl(48, 90%, 85%);
}

.btn-lg {
  padding: 1rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.btn .icon {
  vertical-align: baseline;
  height: 1em;
  display: inline;
}

/* forms --------------------------------------------------- */

form .field {
  margin-bottom: 1rem;
}
form label {
  font-weight: bold;
}
form .block-label {
  margin-bottom: 0.25rem;
  display: block;
}

/* alerts -------------------------------------------------- */

.live-alerts {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50vw;
}

/* header -------------------------------------------------- */

header {
  background-color: white;
  border-bottom: 4px solid black;
}
header .logo {
  padding: 0.5rem 0;
  display: block;
}

/* game ---------------------------------------------------- */

.game {
  /* constrain start game modal to this area as it uses position absolute, so
   * that players can chat to each other */
  position: relative;
}
.game-board {
  position: relative; /* papers */
  height: 100%;
}
.game-board-wrapper {
  color-scheme: light;
  position: relative;
  height: 100%;
  background-color: hsl(0, 70%, 35%);
  overflow: hidden;
}
.game-board {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* game seats and papers ----------------------------------- */

.game .seat, .game .paper {
  min-width: 300px;
  min-height: 400px;
  position: absolute;
  transform: translate(-50%, -50%);
}

.game .seat .user-name {
  position: absolute;
  bottom: -1.5em;
  right: 2rem;
  left: 2rem;
  text-align: center;
  padding: 0em 1em;
  border-radius: 5px;
  background-color: white;
  color: black;
  font-weight: 600;
}

.game .paper {
  background-color: white;
  color: black;
  border: 4px solid black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  overflow: auto;
}
.game input[type=text] {
  outline: none;
  width: 100%;
}

.game .paper {
  resize: both;
}

/* https://css-tricks.com/auto-growing-inputs-textareas/ */
.poem-input-wrapper {
  display: inline-grid;
  position: relative;
  vertical-align: top;
  width: auto;
}

.poem-input-wrapper .poem-input {
  border: none;
  display: block;
  grid-area: 1 / 1;
  outline: none;
  overflow: hidden;
  resize: none;
}

/* takes up the right amount of space, but is otherwise invisible */
.poem-input-wrapper::after {
  content: attr(data-value) ' ';
  font: inherit;
  grid-area: 1 / 1;
  visibility: hidden;
  white-space: pre-wrap;
}

.game .paper .buttons {
  margin-top: 1rem;
}

.game .paper .line {
  /* preserve space at the front of lines but wrap long lines */
  white-space: pre-wrap;

  /* long lines that wrap will have hanging indent */
  padding-left: 1em;
  text-indent: -1em;

  /* empty lines take up 1 line height */
  min-height: 1.25em;
  line-height: 1.25;
}

.game .paper .label {
  display: none;
}

.game .paper .paper-section {
  padding: 1rem;
}

.game .paper .paper-section:not(:first-child) {
  border-top: 2px dashed rgba(0, 0, 0, 0.2);
}

.game .paper .attribution {
  margin-top: 0.25rem;
  color: hsl(0, 0%, 50%);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.game .paper [contenteditable]:empty:before {
  content: attr(data-placeholder);
  color: #9ca3af;
  width: calc(300px - 8px - 2rem);
  display: block;
}

.game .settled .paper {
  transition: top 1s, left 1s;
}

/* finished game ------------------------------------------- */

.finished .box {
  display: block;
  margin: 1rem 0;
}
.finished .seat {
  display: none;
}
.finished .game-board {
  padding: 1rem;
}
.finished .game-board-wrapper {
  overflow: auto;
}
.finished .papers {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.finished .paper {
  position: initial;
  transform: initial;
  min-height: initial;
  transition: initial !important;
  resize: none;
}

/* chat ---------------------------------------------------- */

.chat .user-list {
  border-bottom: 4px solid hsl(20, 5%, 90%);
  padding: 0.5rem;
  background-color: hsl(20, 5%, 95%);
}

.chat-messages {
  border-bottom: 4px solid hsl(20, 5%, 90%);
  background-color: hsl(20, 5%, 98%);
  color: black;
  font-size: 0.875rem;
  line-height: 1.25rem;
  position: relative;
  min-height: 5em;
}
.chat-messages-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  padding: 0.25rem;
}
.chat-input input[type=text] {
  outline: none;
  width: 100%;
  padding: 0.5rem;
  color: black;
  background-color: hsl(20, 5%, 97%)
}
.chat-input button {
  border-radius: 0;
}

/* user names ---------------------------------------------- */

.user-name {
  font-weight: 600;
  white-space: nowrap;
}

/* user name form -------------------------------------------*/

.user-form input[type=text] {
  box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  border-radius: 0.375rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding: 0.5rem;
  border: 1px solid rgb(214 211 209);
  border-radius: 0.375rem;
  width: 100%;
}

.user-form input[type=range] {
  width: 100%;
}

.rainbow-bg {
  background: linear-gradient(to right,
    hsl(0, 100%, 50%) 0%,
    hsl(60, 100%, 50%) 17%,
    hsl(120, 100%, 50%) 33%,
    hsl(180, 100%, 50%) 50%,
    hsl(240, 100%, 50%) 67%,
    hsl(300, 100%, 50%) 83%,
    hsl(0, 100%, 50%) 100%
  );
}

/* pre game notice ----------------------------------------- */

.pre-game-info {
  text-align: center;
}
.pre-game-info .game-url {
  width: 100%;
  padding: 0.5rem;
  font-weight: 600;
  background-color: hsl(20, 5%, 95%);
}
