/* This file is for your main application CSS */
@import "./normalize.css";

html, body, .phx-connected, .container { height: 100%; margin: 0; padding: 0; }

* { box-sizing: border-box; }

.live-alerts {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50vw;
}

.game {
  background-color: darkred;
  color: white;
  height: 100%;
}

.origin {
  display: none;
}

.game .buttons {
  position: absolute;
  bottom: 1rem;
}

.player {
  position: absolute;
  border: 1px dashed white;
  padding: 1rem;
  width: 260px;
  height: 320px;
  transform: translate(-50%, 0);
}

.paper .word {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
}

.paper .question {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
}

.paper {
  position: absolute;
  background-color: white;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1rem;
  width: 250px;
  height: 300px;
  font-size: 10pt;
  transform: translate(-50%, 0);
  transition: all 0.2s;
}
