/* This file is for your main application CSS */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-xl;
    @apply font-semibold;
    @apply mb-2;
  }
  a {
    @apply text-blue-900;
  }
  main > .container {
    @apply pt-4;
  }
  html, body { @apply h-full; }
}

.live-alerts {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50vw;
}

.player {
  position: absolute;
  border: 1px dashed white;
  padding: 1rem;
  width: 260px;
  height: 320px;
  transform: translate(-50%, 0);
}

.paper .word {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
}

.paper .question {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
}

.paper {
  position: absolute;
  background-color: white;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1rem;
  width: 250px;
  height: 300px;
  font-size: 10pt;
  transform: translate(-50%, 0);
  transition: all 0.2s;
}
