<div class="container">
  <h1>Listing Games</h1>

  <table>
    <tbody>
      <%= for game <- @games do %>
        <tr>
          <td><%= game.uuid %></td>
          <td>
            <span><%= link "Show", to: Routes.game_path(@conn, :show, game) %></span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <span><%= link "New Game", to: Routes.game_path(@conn, :new) %></span>
</div>
