<div class="container mx-auto">
  <h1>New Game</h1>

  <form action={Routes.game_path(@conn, :create)} method="post">
    <input type="hidden" name="_csrf_token" value={Plug.CSRFProtection.get_csrf_token()} />
    <button type="submit">Start New Game</button>
  </form>

  <span><%= link "Back", to: Routes.game_path(@conn, :index) %></span>
</div>
