<div class="flex h-full">
  <div class="grow game">
    <%= live_render(@conn, PoetryGame.Live.GameLive, session: %{"id" => @id, "user" => @user}) %>
  </div>
  <div class="shrink chat">
    <%= live_render(@conn, PoetryGame.Live.ChatLive, session: %{"game_id" => @id, "user" => @user}) %>
  </div>
</div>
